<launch>
	<node pkg="tf" type="static_transform_publisher" name="map_to_camera_link" output="screen" args="0 0 0 0.785398163 0 0 map camera_link 10" />
	<arg name="inverse_tf" default="false" />
	<arg name="marker_size" default="20.0" />
	<arg name="marker_resolution" default="11" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="camera/color/image_raw" />
	<arg name="cam_info_topic" default="camera/color/camera_info" />
	<arg name="output_frame" default="/camera_link" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="marker_resolution"     type="int"    value="$(arg marker_resolution)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="inverse_tf"            type="bool"   value="$(arg inverse_tf)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>
</launch>
